.box{
    padding-top: 10%;
padding-right: 20%;
padding-left: 20%;   
margin: 1%;
}

p{
    text-align: center
}
a{
    text-align: center
}

h1{
    text-align: center;
}
.break{
padding-top:20px; 

}